.section.section--history {
  padding: 140px 0px 100px 0px;
  .title span.t--70 {
    margin-right: -70px;
  }
  @media screen and (max-width: 767px) {
    padding: 110px 0px 80px 0px;
    .title span.t--70 {
      margin-right: -20px;
    }
  }
  @media screen and (max-width: 374px) {
    .title span.t--70 {
      margin-right: -10px;
    }
  }
}

.history {
  overflow: visible;
  .swiper-slide {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    max-width: 380px;
    height: auto;
    min-height: 465px;
    user-select: none;
    text-align: center;
    padding-bottom: 60px;
    @media screen and (max-width: 767px) {
      min-height: 494px;
      margin-top: -40px;
    }
    &.swiper-slide-active {
      .history__image {
        img {
          transform: scale(1) translate(0%, 0%);
        }
      }
      h3 {
        transform: skewY(-6.5deg) scale(1) translate(0%, 0%);
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      background: url('../img/svg/history.svg') no-repeat center center/cover;
      bottom: 0px;
      left: 50%;
      margin-left: -20px;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: calc(100% + 80px);
      height: 10px;
      background: rgba(0, 0, 0, 0.2);
      bottom: 15px;
      left: 50%;
    }
    &:last-child {
      &:before {
        content: none;
      }
    }
  }
}

.history__item {
  position: relative;
  width: 100%;
  .history__image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    gap: 20px;
    width: 100%;
    height: 255px;
    img {
      width: 100%;
      position: absolute;
      bottom: 0px;
      transition: 0.3s;
      transform: scale(0.7) translate(0%, 22%);
    }
  }
  h3 {
    display: block;
    position: relative;
    width: 100%;
    font-size: 80px;
    line-height: 1;
    text-shadow: 4px 4px 0px var(--black);
    transform: skewY(-6.5deg) scale(0.7) translate(0%, 24%);
    margin-top: -14%;
    transition: 0.3s;
    span {
      display: block;
      width: 100%;
      line-height: 0.8;
      &:first-child {
        padding-right: 12%;
      }
      &:last-child {
        padding-left: 12%;
      }
    }
  }
  p {
    display: block;
    position: relative;
    margin-top: 10px;
    font-size: 24px;
    text-shadow: 4px 4px 0px var(--black);
    line-height: 1.1;
    text-transform: uppercase;
    transform: rotate(-6.5deg);
    &.small {
      font-size: 20px;
    }
  }
}
