*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: auto;
  overflow-x: hidden;
}

body,
.body {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--font);
  color: var(--white);
  line-height: 1.2;
  background: url('../img/bg.jpg') repeat-y center top;
  background-size: 100% auto;
  &.freez {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  @media screen and (max-width: 767px) {
    background: url('../img/bg_mobil.jpg') repeat-y center top;
    background-size: 100% auto;
  }
}

main,
.main {
  flex: 1;
  width: 100%;
  position: relative;
  z-index: 1;
  background: url('../img/svg/lines.svg') repeat center top;
  backdrop-filter: blur(5px);
  background-size: 116px auto;
  @media screen and (max-width: 767px) {
    background-size: 90px auto;
  }
}

header,
footer {
  width: 100%;
}

img,
picture {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

img[data-lazy] {
  opacity: 0;
  transition: 0.6s;
}

button {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul,
menu,
ol {
  list-style: none;
}

//SWIPER
.swiper-button-next,
.swiper-button-prev {
  &:after {
    content: none;
  }
  width: 100px;
  height: 100px;
  background-position: 0% 0%;
  background-size: 200% 100%;
  background-repeat: no-repeat;
  &:hover {
    background-position: 100% 0%;
  }
}

.swiper-button-next {
  right: 0px;
  background-image: url('../img/svg/arr_right_white.svg');
}

.swiper-button-prev {
  left: 0px;
  background-image: url('../img/svg/arr_left_white.svg');
}

.swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  opacity: 1;
  border-radius: 0px;
  margin: 2px 18px !important;
  background: none;
  background-image: url('../img/svg/pagination_white.svg');

  background-repeat: no-repeat;
  background-position: left top;
  background-size: 200% 100%;
  &.swiper-pagination-bullet-active {
    background-position: 100% top;
  }
}

.white {
  .swiper-button-next {
    background-image: url('../img/svg/arr_right.svg');
  }

  .swiper-button-prev {
    background-image: url('../img/svg/arr_left.svg');
  }

  .swiper-pagination-bullet {
    background-image: url('../img/svg/pagination.svg');
  }
}
